sudo: required
services:
  - docker
env:
  global:
    - IMAGE_NAME=soniaauvets/airflow-ros-tensorflow
before_script:
  - version="$(cat VERSION)"
script:
  - docker build --pull --cache-from "$IMAGE_NAME" --tag "$IMAGE_NAME" --build-arg GCLOUD_SERVICE_ACCOUNT_EMAIL="${GCLOUD_SERVICE_ACCOUNT_EMAIL}"
    .
after_script:
  - docker images
before_deploy:
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
  - docker tag "$IMAGE_NAME" "${IMAGE_NAME}:latest"
deploy:
  - provider: script
    script:
      docker tag "$IMAGE_NAME" "${IMAGE_NAME}:dev" && docker push "${IMAGE_NAME}:latest"
      && docker push "${IMAGE_NAME}:dev"
    on:
      branch: dev
  - provider: script
    script:
      docker tag "$IMAGE_NAME" "${IMAGE_NAME}:${version}" && docker push "${IMAGE_NAME}:latest"
      && docker push "${IMAGE_NAME}:${version}"
    on:
      branch: master
